In [25]:
%%time
import pandas as pd

mountains = pd.read_csv('Mountains.csv', delimiter=',')

Wall time: 16 ms

In [26]:
mountains.describe()

,Rank,Height (m),Height (ft),Prominence (m),Failed attempts bef. 2004
count,118.000000,118.000000,118.000000,118.000000,115.000000
mean,59.500000,7578.042373,24862.364407,1671.567797,8.400000
std,34.207699,341.471211,1120.311905,1234.813419,15.782958
min,1.000000,7200.000000,23622.000000,217.000000,0.000000
25%,30.250000,7316.500000,24004.000000,712.750000,1.000000
50%,59.500000,7472.500000,24516.500000,1332.500000,3.000000
75%,88.750000,7775.500000,25509.750000,2297.250000,11.000000
max,118.000000,8848.000000,29029.000000,8848.000000,121.000000

In [27]:
mountains.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 11 columns):
Rank                         118 non-null int64
Mountain                     118 non-null object
Height (m)                   118 non-null int64
Height (ft)                  118 non-null int64
Prominence (m)               118 non-null int64
Range                        118 non-null object
Coordinates                  118 non-null object
Parent mountain              117 non-null object
First ascent                 118 non-null object
Ascents bef. 2004            116 non-null object
Failed attempts bef. 2004    115 non-null float64
dtypes: float64(1), int64(4), object(6)
memory usage: 10.2+ KB

In [28]:
mountains['First ascent'].value_counts()

1960         7
1956         6
1976         6
1975         5
1961         4
1970         4
1954         4
unclimbed    4
1986         4
1964         4
1994         4
1958         4
1971         3
1979         3
1985         3
1981         3
1950         3
1982         3
1955         3
1953         2
1962         2
1939         2
1937         2
1959         2
1974         2
1996         2
1957         2
1984         2
1936         1
2011         1
1992         1
1934         1
1965         1
1988         1
2002         1
1987         1
1935         1
1993         1
1951         1
1931         1
1989         1
1978         1
1938         1
1930         1
1932         1
1969         1
1980         1
1977         1
1933         1
1973         1
1968         1
Name: First ascent, dtype: int64

In [ ]:
%%time
%matplotlib inline
mountains['First ascent'].hist(bins= 100,figsize = (30,5))

Wall time: 56 s